.input {
  width: 40px;
  text-align: center;
  font-weight: bold;
}
.label {
  font-weight: bold;
  margin-right: 20px;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input[type="number"] {
  -moz-appearance: textfield;
}
