.main {
  width: 35%;
  text-align: center;
  color: white;
  position: relative;
  margin: -6rem auto 0 auto;
  background-color: rgb(69, 54, 54);
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.5);
}
